<h2>Long term tasks</h2>
<hr class="mt-0 mb-4">
<form method="post" action="/">
    {% csrf_token %}

    {% for task in long_term_tasks %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" value="clicked" name="c{{task.id}}">
            </div>
        </div>
        <input type="text" value="{{task.name}} - {{task.value}}" class="form-control">

    </div>
    {% endfor %}
    <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
</form>

{% if todays_tasks %}
<h2>Today's tasks</h2>
<ul>
    {% for task in todays_tasks %}
    <li><input type="checkbox" value="clicked" name="c{{item.id}}">{{task.name}}</li>
    {% endfor %}
</ul>
{% endif %}